.hero {
   position: relative;
   height: 200vh;
   // background-image: url('.././img/hero.jpg');
   background-color: #97cca5;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
