.hero {
   position: relative;
   height: 100vh;
   background-image: url("../img/gallery-2.jpg");
   // background-color: #97cca5;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin-bottom: 40px;
}

.hero .swiper-slide {
   height: 100vh;
}
