.header {
   &__bottom {
      padding: 5px 0;
   }

   &__nav {
   }
}
.nav {
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__item {
   }

   &__link {
   }
}
